/*======================== Font style Css ===============================*/
/*======================== Font-weight Css ===============================*/
/*======================== Font-Color Css ===============================*/
/*======================== Font-Family Css ===============================*/
/*======================== Position Css ===============================*/
/*======================== background Color Css ===============================*/
/*======================== Gradient Css ===============================*/
/*======================== Opacity Css ===============================*/
/*======================== background-image-maker Css ===============================*/
/*======================== Border Rounded-Circle Css===============================*/
/*======================== Border Size Css===============================*/
/*======================== Border Color Css===============================*/
/*======================== Margin Minus Css===============================*/
/*======================== line-height Css===============================*/
/*======================== Letter Spacing Css===============================*/
/*======================== Z-index Css===============================*/
/*======================== Image Hover Effect Zoom Css===============================*/
/*======================== Shadow Css Css===============================*/
/*======================== Page Custom Css Css===============================*/
/*================header Fixed Scroll======================*/
/*======================== Section & Selection Css ===============================*/
/*======================== Pagination  Css ===============================*/
/*======================== Form Css ===============================*/
/*======================== Buttons Css ===============================*/
/*======================== Buttons Size Css===============================*/
/*======================== Page Inner Tabs Css===============================*/
/*======================== Form-Icon Css ===============================*/
/*======================== Categories Css ===============================*/
/*======================== Visited Places Css ===============================*/
/*======================== Icon-box Css ===============================*/
/*======================== Price Table Css ===============================*/
/*======================== Categories Css ===============================*/
/*======================== Masonry Css ===============================*/
/*=============== Back To Top Button =======================*/
/*=============== Left Sidebar =======================*/
/*=============== Google Map =======================*/
/*=============== Listing Shorting =======================*/
/*=============== Listing-Explore-Place-Profile Css =======================*/
/*=============== Profile Page Css =======================*/
/*=============== Reviews Page Css =======================*/
/*=============== Explore Event Page Css =======================*/
/*=============== Calendar =======================*/
/*===============Blog Page Css=======================*/
/*=============== Blog Listing Page Css=======================*/
/*=============== Blog Single Page Css=======================*/
/*=============== Faq Page Css=======================*/
/*=============== Error Page Css=======================*/
/*=============== Coming Soon Page Css=======================*/
$primary: #ff214f;

$white: #fff;

$dark: #222222;

$secondry-light: #f7f7f7;

$orchid: #bf55ec;

$dark-orange: #f89406;

$dark-blue: #7747ff;

$light-orange: #f9690e;

$moderate: #27ccab;

$redical-red: #f62459;

$light-green: #64bc36;

$sky-blue: #19b5fe;

$sky-red: #f03434;

$yellow-orange: #ffd200;

$clasic-dark: #192026;

$bg-cyan: #3b97b5;

$palegreen: #22d754;
/*-----------------------Font Color Variable ------------------------------------*/
$body-color: #707070;

$light-gold: #f2b827;

/*-----------------------Font line-height Variable ------------------------------------*/
$body-line-height: 1.75rem;

/*-----------------------Border Color Variable ------------------------------------*/
$brd-light: #dadada;

$brd-primary: #ff214f;

/*-----------------------Font Family Variable ------------------------------------*/
$primary-font: 'Poppins', sans-serif;

$body-font: 'Roboto', sans-serif;

/*-----------------------Font Family Import ------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');