<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Google Maps Multiple Markers</title>
    <script src="http://maps.google.com/maps/api/js?sensor=false"
            type="text/javascript"></script>
</head>
<body>
<div id="map" style="width: 500px; height: 400px;"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">

    var hostList=null;
    $.ajax({
       type:"get",
        url:"/search/getHostList",
        success:function(hList){
           hostList=hList;
        }
    });


   var locations = [
        ['Bondi Beach', 37.285691, 127.046324, 4],
        ['Coogee Beach', 37.284748, 127.041603, 5],
        ['Cronulla Beach', 37.285444, 127.039994, 3],
        ['Manly Beach', 37.281968, 127.041908, 2],
        ['Maroubra Beach', 37.281723, 127.044063, 1]
    ];

    /*var locations = [
        [hostList[0].host.name, hostList[0].host.latitude, hostList[0].host.longitude, 4],
        [hostList[1].host.name, hostList[1].host.latitude, hostList[1].host.longitude, 1],
        [hostList[2].host.name, hostList[2].host.latitude, hostList[2].host.longitude, 2],
        [hostList[3].host.name, hostList[3].host.latitude, hostList[3].host.longitude, 3],
        [hostList[4].host.name, hostList[4].host.latitude, hostList[4].host.longitude, 5]
    ];*/


    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: new google.maps.LatLng(37.283372, 127.046355),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
            }
        })(marker, i));
    }
</script>
</body>
</html>