<section class="image-bg footer lis-grediant grediant-bt pb-0">
    <div class="background-image-maker"></div>
    <div class="holder-image">
        <img src="../dist/images/bg3.jpg" alt="" class="img-fluid d-none">
    </div>
    <div class="container">
        <div class="row pb-5">
            <div class="col-12 col-md-8">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                        <h5 class="footer-head">Useful Links</h5>
                        <ul class="list-unstyled footer-links lis-line-height-2_5">
                            <li><A href="#"><i class="fa fa-angle-right pr-1"></i> Add Listing</A></li>
                            <li><A href="#"><i class="fa fa-angle-right pr-1"></i> Sign In</A></li>
                            <li><A href="#"><i class="fa fa-angle-right pr-1"></i> Register</A></li>
                            <li><A href="#"><i class="fa fa-angle-right pr-1"></i> Pricing</A></li>
                            <li><A href="#"><i class="fa fa-angle-right pr-1"></i> Contact Us</A></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                        <h5 class="footer-head">My Account</h5>
                        <ul class="list-unstyled footer-links lis-line-height-2_5">
                            <li><A href="#"><i class="fa fa-angle-right pr-1"></i> Dashboard</A></li>
                            <li><A href="#"><i class="fa fa-angle-right pr-1"></i> Profile</A></li>
                            <li><A href="#"><i class="fa fa-angle-right pr-1"></i> My Listing</A></li>
                            <li><A href="#"><i class="fa fa-angle-right pr-1"></i> Favorites</A></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-md-0">
                        <h5 class="footer-head">Pages</h5>
                        <ul class="list-unstyled footer-links lis-line-height-2_5">
                            <li><A href="#"><i class="fa fa-angle-right pr-1"></i> Blog</A></li>
                            <li><A href="#"><i class="fa fa-angle-right pr-1"></i> Our Partners</A></li>
                            <li><A href="#"><i class="fa fa-angle-right pr-1"></i> How It Work</A></li>
                            <li><A href="#"><i class="fa fa-angle-right pr-1"></i> Privacy Policy</A></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <h5 class="footer-head">Help</h5>
                        <ul class="list-unstyled footer-links lis-line-height-2_5">
                            <li><A href="#"><i class="fa fa-angle-right pr-1"></i> Add Listing</A></li>
                            <li><A href="#"><i class="fa fa-angle-right pr-1"></i> Sign In</A></li>
                            <li><A href="#"><i class="fa fa-angle-right pr-1"></i> Register</A></li>
                            <li><A href="#"><i class="fa fa-angle-right pr-1"></i> Pricing</A></li>
                            <li><A href="#"><i class="fa fa-angle-right pr-1"></i> Contact Us</A></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="footer-logo">
                    <a href="#"><img src="../dist/images/logo-v1.png" alt="" class="img-fluid" /></a>
                </div>
                <p class="my-4">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu in  felis eu pede mollis enim.</p>
                <a href="#" class="text-white"><u>App Download</u></a>
                <ul class="list-inline mb-0 mt-2">
                    <li class="list-inline-item"><A href="#"><img src="../dist/images/play-store.png" alt="" class="img-fluid" /></a></li>
                    <li class="list-inline-item"><A href="#"><img src="../dist/images/google-play.png" alt="" class="img-fluid" /></a></li>
                    <li class="list-inline-item"><A href="#"><img src="../dist/images/windows.png" alt="" class="img-fluid" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom mt-5 py-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 text-center text-md-left mb-3 mb-md-0">
                    <span> &copy; 2017 Lister. Powered by <a href="#" class="lis-primary">PSD2allconversion.</a></span>
                </div>
                <div class="col-12 col-md-6 text-center text-md-right">
                    <ul class="list-inline footer-social mb-0">
                        <li class="list-inline-item pr-3"><A href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item pr-3"><A href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item pr-3"><A href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li class="list-inline-item pr-3"><A href="#"><i class="fa fa-tumblr"></i></a></li>
                        <li class="list-inline-item"><A href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>